
@{
    ViewBag.Title = "Home Page";
}

<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="index.html"> Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
</div><!-- /breadcrumb-->
<div class="main-header clearfix">
    <div class="page-title">
        <h3 class="no-margin">Dashboard</h3>
        <span>Welcome to DPaW Alerts System</span>
    </div><!-- /page-title -->

    <ul class="page-stats">
        <li>
            <div class="value">
                <span>New visits</span>
                <h4 id="currentVisitor">4256</h4>
            </div>
            <span id="visits" class="sparkline"></span>
        </li>
        <li>
            <div class="value">
                <span>My balance</span>
                <h4>$<strong id="currentBalance">32153</strong></h4>
            </div>
            <span id="balances" class="sparkline"></span>
        </li>
    </ul><!-- /page-stats -->
</div><!-- /main-header -->

<div class="grey-container shortcut-wrapper">
    <a href="index.html#" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-bar-chart-o"></i>
        </span>
        <span class="text">Statistic</span>
    </a>
    <a href="index.html#" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-envelope-o"></i>
            <span class="shortcut-alert">
                5
            </span>
        </span>
        <span class="text">Messages</span>
    </a>
    <a href="index.html#" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-user"></i>
        </span>
        <span class="text">New Users</span>
    </a>
    <a href="index.html#" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-globe"></i>
            <span class="shortcut-alert">
                7
            </span>
        </span>
        <span class="text">Notification</span>
    </a>
    <a href="index.html#" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-list"></i>
        </span>
        <span class="text">Activity</span>
    </a>
    <a href="index.html#" class="shortcut-link">
        <span class="shortcut-icon">
            <i class="fa fa-cog"></i>
        </span>
        <span class="text">Setting</span>
    </a>
</div><!-- /grey-container -->

<div class="padding-md">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="panel-stat3 bg-danger">
                <h2 class="m-top-none" id="userCount">362</h2>
                <h5>Road Closures</h5>
                <button class="btn btn-primary">New Alert</button>
                <i class="fa  fa-arrow-right fa-lg"></i><span class="m-left-xs">5% Higher than last week</span>
                <div class="stat-icon">
                    <i class="fa  fa-bar-chart-o fa-3x"></i>
                </div>
                
                <div class="loading-overlay">
                    <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6 col-md-3">
            <div class="panel-stat3 bg-info">
                <h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
                <h5>Server Load</h5>
                <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher than last week</span>
                <div class="stat-icon">
                    <i class="fa fa-hdd-o fa-3x"></i>
                </div>
                <div class="refresh-button">
                    <i class="fa fa-refresh"></i>
                </div>
                <div class="loading-overlay">
                    <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6 col-md-3">
            <div class="panel-stat3 bg-warning">
                <h2 class="m-top-none" id="orderCount">593</h2>
                <h5>New Orders</h5>
                <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">3% Higher than last week</span>
                <div class="stat-icon">
                    <i class="fa fa-shopping-cart fa-3x"></i>
                </div>
                <div class="refresh-button">
                    <i class="fa fa-refresh"></i>
                </div>
                <div class="loading-overlay">
                    <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-6 col-md-3">
            <div class="panel-stat3 bg-success">
                <h2 class="m-top-none" id="visitorCount">7214</h2>
                <h5>Total Visitors</h5>
                <i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">15% Higher than last week</span>
                <div class="stat-icon">
                    <i class="fa fa-bar-chart-o fa-3x"></i>
                </div>
                <div class="refresh-button">
                    <i class="fa fa-refresh"></i>
                </div>
                <div class="loading-overlay">
                    <i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
                </div>
            </div>
        </div><!-- /.col -->
    </div>
    
</div><!-- /.padding-md -->