<aside class="fixed skin-6">
    <div class="sidebar-inner scrollable-sidebars">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="btn btn-sm pull-right logoutConfirm_open" href="blank.html#logoutConfirm">
                <i class="fa fa-power-off"></i>
            </a>
        </div><!-- /size-toggle -->
       
        <div class="main-menu">
            <ul>
                <li>
                    <a href="~/home">
                        <span class="menu-icon">
                            <i class="fa fa-desktop fa-lg"></i>
                        </span>
                        <span class="text">
                            Dashboard
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="~/admin">
                        <span class="menu-icon">
                            <i class="fa fa-cog fa-lg"></i>
                        </span>
                        <span class="text">
                            Administration
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                

                <li>
                    <a href="timeline.html">
                        <span class="menu-icon">
                            <i class="fa fa-clock-o fa-lg"></i>
                        </span>
                        <span class="text">
                            Timeline
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="gallery.html">
                        <span class="menu-icon">
                            <i class="fa fa-picture-o fa-lg"></i>
                        </span>
                        <span class="text">
                            Gallery
                        </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="inbox.html">
                        <span class="menu-icon">
                            <i class="fa fa-envelope fa-lg"></i>
                        </span>
                        <span class="text">
                            Inbox
                        </span>
                        <span class="badge badge-danger bounceIn animation-delay6">4</span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="email_selection.html">
                        <span class="menu-icon">
                            <i class="fa fa-tasks fa-lg"></i>
                        </span>
                        <span class="text">
                            Email Template
                        </span>
                        <small class="badge badge-warning bounceIn animation-delay7">New</small>
                        <span class="menu-hover"></span>
                    </a>
                </li>
               
            </ul>

            <div class="alert alert-info">
                Welcome to DPaW Alerts. Do not forget to logout.
            </div>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner -->
</aside>
