 <!-- Footer ================================================== -->
<footer class="dark hidden-xs hidden-sm navbar-fixed-bottom">

    
    <p class="no-margin">
        Copyright &copy; @DateTime.Now.Year <strong>Department of Biodiversity, Conservation and Attractions</strong>. All Rights Reserved. <i class="fa fa-slack"></i> Version: 4.1
    </p>
    
</footer>
<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
